---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
				<p>Tags:</p>
				<ul class = "span">
				{% for tag in site.tags %}
					<li class = "span">{{ tag[0] }}</li>
				{% endfor %}
				</ul>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>